.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

dist/
local/
.venv/
__espeak_ng.so
espeak_ngPYTHON_wrap.c
espeak-ng-data/

_skbuild/
*.egg-info/

src/piper/train/vits/monotonic_align/core.c
*.so

lightning_logs/
